.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #1e90ff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.modal button:hover {
  background: #187bcd;
}