/* Контейнер всей таблицы */
.table_container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffff;
  min-height: 100vh;
}


/* Таблица */
.table {
  border-collapse: separate;
  border-spacing: 8px; 
  background-color: rgb(220, 232, 255);
  border: 2px solid #004bb4;
  border-radius: 10%;
}

/* Общий стиль ячеек */
.cell {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* делает ячейки круглыми */
  border: 2px solid #004bb4;
  background-color: #ffffff;
}
.player1 {
  background-color: green;
}

.player2 {
  background-color: red;
}

.hovered {
  box-shadow: 0 0 15px 5px rgba(100, 149, 237, 0.7);
}
.hoveredCell{
  opacity: 0.5;
}
.winCell {
  text-align: center;
  font-size: 24px;
  color: gold;
  animation: pulse 1s infinite alternate;
}

/* Адаптивность (мобильные экраны) */
@media (max-width: 600px) {
  .cell {
    width: 40px;
    height: 40px;
  }

  .color-table {
    border-spacing: 5px;
  }
}
